:root{
	--pageBackground: rgb(255, 255, 255);
	--mainTextColor: rgb(0, 0, 0);

	--dropdownBackground: rgba(240,240,240,1);
	--dropdownBackgroundLight: rgba(255,255,255,1);
	--accent: rgb(128,0,0); /*maroon*/
	--subAccent: rgb(210, 210, 210);
	--hoverAccent: rgb(200, 0, 0);

	--thumbnailWidth: 200px;
}
body{
	font-family: 'Fira Sans', sans-serif;
	background-color: var(--pageBackground);
	color: var(--mainTextColor);
}

/*----------------title stuff--------------*/
#page-titles{
	font-size:24pt;
	padding-top:10px;
	padding-bottom:10px;
}
#page{
	color:var(--accent);
	font-weight: 700;
}
#sub-page{
	color:var(--accent);
}

/*------------menu stuff--------------*/
#header{
	z-index: 16;
	position:relative;
	line-height:40px;
}
#header a{
	text-decoration: none;
	color:var(--mainTextColor);
}
.menu-option, .sub-menu-option{
	 -webkit-transition:color 100ms ease-in-out,border-bottom 120ms ease-in-out, visibility 0ms, opacity 150ms ease-in-out, background-color 150ms ease-in-out;
    -moz-transition: color 100ms ease-in-out,border-bottom 120ms ease-in-out, visibility 0ms, opacity 150ms ease-in-out, background-color 150ms ease-in-out;
    -o-transition:color 100ms ease-in-out,border-bottom 120ms ease-in-out, visibility 0ms,opacity 150ms ease-in-out, background-color 150ms ease-in-out;
    transition:color 100ms ease-in-out,border-bottom 120ms ease-in-out, visibility 0ms,opacity 150ms ease-in-out, background-color 150ms ease-in-out;
}
.menu-option.bottle-of-suze{
	border-bottom: 3px solid var(--accent);
}
.menu-option {
	padding-left:15px;
	padding-right:15px; 
	font-size: 17pt;
	border-bottom: 3px solid var(--subAccent);
	font-weight:500;
}

.sub-menu-option {
	/*display:none;*/
	visibility: hidden;
	font-size: 14pt;	
	background-color:var(--dropdownBackground);
}

.menu-option:hover, .sub-menu-option:hover {
	cursor:pointer;
	color:var(--accent);
}
.menu-option:hover{
	border-bottom: 3px solid var(--hoverAccent);
}
.sub-menu-option:hover{
	background-color: var(--dropdownBackgroundLight);
}
.menu-wrapper {
	display: inline-block;
	height:20px;
	vertical-align: top;
	text-align: center;
}
.menu-wrapper:hover{

}

/*-----------project stuff----------*/
#back{
	text-align: left;
	color:var(--accent);
	font-weight:bold;

	/*font-weight:normal;*/

	-webkit-transition:font-weight 150ms ease-in-out,color 150ms ease-in-out;
    -moz-transition:font-weight 150ms ease-in-out,color 150ms ease-in-out;
    -o-transition:font-weight 150ms ease-in-out,color 150ms ease-in-out;
    transition:font-weight 150ms ease-in-out,color 150ms ease-in-out;
}
#back:hover{
	cursor:pointer;
	font-weight: bold;
	color:var(--hoverAccent);
}
#more-info{
	padding-top:15px;
	padding-bottom:15px;
	max-height:90px;
	overflow:hidden;

	-webkit-transition:max-height 500ms ease-in-out, background-color 500ms ease-in-out;
    -moz-transition:max-height 500ms ease-in-out, background-color 500ms ease-in-out;
    -o-transition:max-height 500ms ease-in-out, background-color 500ms ease-in-out;
    transition:max-height 500ms ease-in-out, background-color 500ms ease-in-out;
}
#extra-buttons{
	/*padding-top:10px*/
}
#see-more-button{
	color:var(--accent);
	font-weight:bold;

	-webkit-transition:font-weight 150ms ease-in-out, content 500ms ease-in-out, color 150ms ease-in-out;
    -moz-transition:font-weight 150ms ease-in-out, content 500ms ease-in-out,color 150ms ease-in-out;
    -o-transition:font-weight 150ms ease-in-out, content 500ms ease-in-out,color 150ms ease-in-out;
    transition:font-weight 150ms ease-in-out, content 500ms ease-in-out,color 150ms ease-in-out;
}
#see-more-button:hover{
	font-weight:bold;
	cursor:pointer;
	color:var(--hoverAccent);
}
.project-title{
	font-size: 20pt;
	
}
.project-blurb{
	font-size:12pt;
	font-weight:bolder;
	line-height: 30px;
	color:var(--accent);
}
.project-description{
	font-size:10pt;
}
#non-project-description{
	font-size:11pt;
	/*font-weight:bold;*/
	top:-10px;
}
#non-project-description a, .project-description a{
	color:var(--accent);
	font-weight:bold;
	text-decoration:none;
}
#non-project-description a:hover, .project-description a:hover {
	color:var(--hoverAccent);
	text-decoration:none;
	/*text-underline-position: px;*/
}
#aboutDiv{
	text-align: left;
}
#aboutDiv b {
	font-size: 15pt;
}
.emph{
	color:var(--accent);
	font-weight: bold;
}
#content-body {
	padding-top:10px;
	align:center;
/*	margin-left: 15%;
	margin-right:15%;*/
}

/*---------thumbnail stuff--------------*/
.item-title {
	z-index: 10;
	color:white;
	font-size: 15pt;
	text-transform: lowercase;
	opacity:0;
	margin-top:10px;
	left:5%;
	right:5%;

	-webkit-transition:opacity 150ms ease-in-out; 
    -moz-transition:opacity 150ms ease-in-out;
    -o-transition:opacity 150ms ease-in-out;
    transition:opacity 150ms ease-in-out;
}
.item-title-div{
 display: none;   
}

.play{
	content:url('images/play_button.png');
	width:calc(var(--thumbnailWidth) * 0.4);
	margin-top:20%;
	margin-left:30%;
}
.item-wrapper:hover .item-title{
	opacity:1;
}
.item-pic{
    z-index: 0;
}
.fancybox-image{
	image-orientation:20deg;
}
.item-overlay-menu, .item-overlay-content{
	height:var(--thumbnailWidth);
	width:var(--thumbnailWidth);
	z-index: 5;

	opacity:0;

    -webkit-transition:opacity 250ms ease-in-out; 
    -moz-transition:opacity 250ms ease-in-out;
    -o-transition:opacity 250ms ease-in-out;
    transition:opacity 250ms ease-in-out;
} 
.item-overlay-menu{
	background-color:var(--accent);
}
.item-overlay-content{
	/*background-color:white;*/
	border:5px solid var(--accent);
}
.item-wrapper:hover .item-overlay-menu {
	opacity:0.9;
}
.item-wrapper:hover .item-overlay-content{
	opacity: 0.9;
}
.item-pic, .item-title, .item-overlay-content, .item-overlay-menu{
	position:absolute;
}
.item-wrapper{
	position:relative;
	display:inline-block;
	margin-top:8px;
	margin-bottom:8px;
	margin-left:5px;
	margin-right:5px;

	text-align:left;

	height:var(--thumbnailWidth);
	width:var(--thumbnailWidth);
}
.item-wrapper:hover{
	cursor:pointer;
}
.thumbnail{
	width:var(--thumbnailWidth);
	border:none;
	padding:0;
	border-radius: 0;
}
.item-pic a {
	z-index:20;
}

/*-------------fancyBox alterations---------------*/
.fancybox-title {
	font-family: 'Fira Sans', sans-serif;
	font-size: 9pt;
	line-height: 11px;
}
.fancybox-close {
	background-image: url("images/close_button2.png");
	background-size: 20px;
	background-repeat: no-repeat;
	opacity:0.3;

	height:100px;
	width:100px;
	right:-30px;
	top:-5px;

	background-position: 75px 2px;

    -webkit-transition:opacity 150ms ease-in-out, background-size 200ms ease-in-out;
    -moz-transition:opacity 150ms ease-in-out, background-size 200ms ease-in-out;
    -o-transition:opacity 150ms ease-in-out, background-size 200ms ease-in-out;
    transition:opacity 150ms ease-in-out, background-size 200ms ease-in-out;
} 
.fancybox-close:hover{
	opacity:1;
	background-size:22px;
	background-position:74px 2px;
}
.fancybox-prev span {
	background-image: url("images/prev_button2.png");
	visibility: visible;
	left:0;
}
.fancybox-next span{
	background-image: url("images/next_button2.png");
	visibility: visible;
	right:0;
}
.fancybox-prev span, .fancybox-next span{
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 0px;
	opacity:0.3;

	-webkit-transition:opacity 150ms ease-in-out,right 200ms ease-in-out,left 200ms ease-in-out;
    -moz-transition:opacity 150ms ease-in-out,right 200ms ease-in-out,left 200ms ease-in-out;
    -o-transition:opacity 150ms ease-in-out,right 200ms ease-in-out,left 200ms ease-in-out;
    transition:opacity 150ms ease-in-out,right 200ms ease-in-out,left 200ms ease-in-out;
}
.fancybox-prev{
	left:-25px;
}
 .fancybox-next{
	right:-35px;
}
.fancybox-prev:hover span{
	left:-5px;
	opacity: 1;}
.fancybox-next:hover span{
	right:-5px;
	opacity:1;
}
.fancybox-opened:hover{
	opacity:1;
}
.fancybox-nav{
	width:40%;
	visibility: visible;
}
.fancybox-overlay{
	background:rgba(0,0,0,0.9);
}
.fancybox-title,.fancybox-nav, .fancybox-opened, .fancybox-close, #fancybox-loading, .fancybox-wrap, .fancybox-skin{
	z-index: 50;
} .fancybox-overlay{
	z-index:49;
}  

div.fancybox-inner{
		overflow:hidden !important;
		height:100%;
}
.fancybox-skin{
	background:transparent;
}


