#homeImg{
	width:100%;
}
#home{
	top:40px;
	left:25px;
	right:25px;
	line-height: 10pt
}
#home .big{
	font-size:13pt;
}
#home .med{
	font-size:9pt;
}
#home .small{
	font-size:6pt;
}
/*------------menu stuff--------------*/
#title, #page-titles{
	font-size:13pt;
}
#header{
	
}
.menu-option {
	line-height:18pt;
	font-size:10pt;
	padding-left:2px;
	padding-right:2px;
	border-bottom: 1px solid var(--subAccent);
}

.sub-menu-option {
	font-size: 6pt;	

}
.sub-menu-option:hover{
	background-color: var(--dropdownBackgroundLight);
}

/*-----------project stuff----------*/
.project-title{
	font-size: 12pt;
}
.project-blurb{
	font-size:10pt;
	line-height: 20px;
}
.project-description{
	font-size:9pt;
}
#non-project-description{
	font-size:9pt;
}

/*---------thumbnail stuff--------------*/


